<!DOCTYPE html>
<html>
<head>
    <title>YouTube Channel Videos Data Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>YouTube Channel Videos Data Analysis</h1>
    <form action="/getdata" method="POST" style="text-align:center">
        <label for="channel_id">Enter Channel ID:</label>
        <input type="text" id="channel_id" name="channel_id" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>


